/* .RecipeItem h3 {
  text-align: center;
  color: #e8f0ae;
  flex-grow: 2;
}

.RecipeItem pre {
  text-align: left;
  color: #fbffdf;
  flex-grow: 0;
}

.RecipeItem img {
  text-align: left;
  flex-grow: 1;
} */
